doctype html 
html
    head 
        title WEB - #{_title}
        meta(charset="utf-8")
    body 
        h1 
            a(href="/") WEB 
        h1
            ul
                each val in _list
                    li 
                        a(href=`/topic/${val}`) #{val}
            a(href="/topic/create") create
            |  
            a(href=`/topic/update/${_title}`) update
        form(action="/topic/delete" method="post")
            input(type="hidden" name="id" value=_title)
            p 
            input(type="submit" value="delete")


        h2=_title
        p=_description