doctype html
html 
    head 
        title WEB - #{_title}
        meta(charset="utf-8")
    body 
        h1 
            a(href="/") WEB 
        h1
            ul
                each val in _list
                    li 
                        a(href=`/page/${val}`) #{val}
            form(action="/update" method="post")
                input(type="hidden" name="id" value=`${_title}`) 
                p 
                    input(type="text" name="title" placeholder="title" value=`${_title}`)
                p 
                    textarea(name="description", placeholder="description") #{_description} 
                p 
                    input(type="submit")
            a(href="/create") create
            |  
            a(href=`/update?id=${_title}`) update 